/* Estilos generales */
body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 80%;
}

/* Cuadrícula para los inputs */
.input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Estilos para cada input */
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para las imágenes */
.input-box img {
  max-width: 100%;
  height: 65%;
  margin-bottom: 10px;
}

/* Estilos para los inputs */
.input-box input {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  text-align: center; /* Centra el texto dentro del input */
}

/* Estilos para el botón */
button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas */
  .input-grid {
    grid-template-columns: 1fr;
  }
}
